// global styles

//import base less environment
@import "../base/macros";
@import "../base/colors";
@import "../base/geometry";
@import "../base/textures";

//reset browser styling
@import "../base/reset";
@import "../base/fonts"; 

//colors
@lightBase : #edede9;
@darkBase : #605959;
@highlight : #e1567a;

@canvas : #EFEACC;
@bright : #A23607;
@brightDark : #4E2008;
@dim : #7A6A46;
@dimDark : #58585A;
@loginBlue : #007BFF;

@primaryFont: "ProximaNova";
@primaryFontBold: "ProximaNova-Bold";
@barHeight: 40px;
@rightColumnWidth: 560px;
@leftColumnWidth: 460px;


html{
    font-family: "Helvetica";
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
}

.right{
    float: right;
}

.left{
    float: left;
}

.clear{
    clear: both;   
}

body,html{height:100%;}

body{
    background-color: #e1e5e8;
    color : #818285;
    font-family: @primaryFont;
}

#protolus_root{
    margin:0 auto;
} 

#saved-metrics{
    h3{
        color: #0F0;
    }
}

#load_spinner{ 
    display: none;
    z-index: 200;
    background: #000;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    .spinner{
        position:absolute;
        top: 45%;
        left: 50%;
        height: 50px;
        width: 50px;
        .centeredBackground('/Resources/core/img/loader.gif');
    }
}

#delphilogo{
    position: absolute;
	height: 36px;
	width: 102px;
	bottom: -42px;
	right: 0px;
	background-image: url('/Resources/core/img/logo_powered_by_delphi.png');
	background-repeat: no-repeat;
}

#content_wrapper {
    position: absolute;
    top: @barHeight;
    right: 0;
    bottom: 0;
    left: 0;
    background: #f3f3f4 url('/Resources/core/img/background.png') repeat;
    border-top: 1px solid #3f3f3f;
    overflow: auto;
}

header{
    position: absolute;
	z-index: 2;
	top: 0px;
	left: 0px;
	background-repeat: no-repeat;
	background-position: 15px center;
    background-color: #1e1f1f;
    width: 100%;
	border-style: solid none none none;
	border-color: #8DC63F;
	border-width: 2px;
	.shadowed(2px, 0.2);
    height: @barHeight - 2px;
    img{
        margin-top: 17px;
        margin-left: 15px;
        height: 22px
    }
    span.logo_text{
        position: absolute;
        top: 17.9px;
        margin-left: 3px;
        font-size: 1.4em;
        vertical-align: middle;
        color: #989A9C;
        font-family: @primaryFont;
    }
}

#navlinks{
    position: absolute;
	z-index: 3;
	top: 0px;
	right: 10px;
	width: 400px;
	height: @barHeight - 2px;
	ul{
		position: absolute;
		top: 0px;
		right: 0px;
		li{
			display: inline;
			list-style-type: none;
			padding-right: 20px;
			line-height: @barHeight - 2px;
			font-size: 0.8em;
			&.active{
                color: #fff;
				font-family: @primaryFontBold;
			}
			a{
				color: #c5c6c8;
				text-decoration: none;
				&:hover{
					color: #fff;
				}
			}
		}
	}
}

#column_header_divider_horizontal{
	position: absolute;
	top: 33px;
	left: 0px;
	width: @leftColumnWidth - 16px;
	height: 10px;
	margin: 0px 8px 0px 8px;
	background-image: url('/Resources/core/img/dots.png');
	background-repeat: repeat-x;
	background-position: left center;
    background-color: #FFFFFF;
}

#column_header_divider_vertical{
	position: absolute;
	top: 0px;
	left: @leftColumnWidth / 2 - 7px;
	width: 10px;
	height: 33px;
	margin: 0px 0px 0px 0px;
	background-image: url('/Resources/core/img/dots.png');
	background-repeat: repeat-y;
	background-position: left center;
}

#left_column{
    margin-top: 0px;
	background-color: #1e1f1f;
	width: @leftColumnWidth;
	height: 100%;
    ul {
        ul {
        border-right: 1px dotted #4e4d4d;
        }
        &:last-of-type{
            ul {
                border-right-width: 0;
            }
        }
    }
    ul h3{
        position: relative;
        width: @leftColumnWidth / 2;
        color: #fff;
        background-color: #1e1f1f;
        padding-top: 3px;
        line-height: 2em;
        font-family: @primaryFontBold;
        text-align: center;
        font-size: 1.2em;
        cursor: pointer;
        &:hover{
            color: #FFFFFF;
            background-color: #3b3b3c;
        }
        a{
            position: absolute;
            top: 7px;
            right: 15px;
            display: block;
            height: 18px;
            width: 20px;
            background: url('/Resources/core/img/info_inactive.png') no-repeat 5px 0;
            cursor: help;
            &:hover{
                /*background-position: 4px -17px;*/
				background: url('/Resources/core/img/info_active.png') no-repeat 4px 0;
            }
        }
    }
    > ul{
        float: left;
        color: #333335;
        font-size: 0.8em;
        white-space:nowrap;
        z-index: 10;
        .panel_description{
            display: none;
            position: absolute;
            white-space: normal;
            width: @leftColumnWidth / 2 - 30;
            color: #FFFFFF;
            background-color: #3b3b3c;
            line-height: 1.25em;
            padding: 0 15px 10px;
            font-size: 1em;
            z-index: 20;
            opacity: 0.9;
        }
        > ul {
        	overflow-y: scroll;
            overflow-x: hidden;
        	position: absolute;
    		top: 43px;
    		bottom: 0;
            vertical-align: text-top;
        }
        ul li{
            width: @leftColumnWidth / 2 - 8;
            line-height: 30px;
            margin:0;
            cursor:pointer;
            position: relative;
            overflow-x:hidden;
            span{
            	padding-left: 15px;
            	color: #e6e7e8;
            	font-family: @primaryFontBold;
				&:hover{
					 background-color: #00a1e4;
					 color: #FFFFFF;
				}
            	&.disabled{
	                color: #666;
                    &:hover{
                        color: #333;
                        background-color: #e1e1e1;
                    }
                    a:after {
                        content: '\25B6';
                        font-size: 11px;
                    }
                    a.expanded:after {
    	                content: '\25BC';
                        font-size: 14px;
                    }
	            }
	            &.selected{
                    color: #fff;
	                background-color: #00a1e4;
                    height: 30px;
                    &.sublist{
                        height: 0;    
                    }
                    a:after {
    	                content: '\25B6';
                        font-size: 11px;
                    }
                    a.expanded:after {
    	               content: '\25BC';
                       font-size: 14px
                    }
	            }
                a:after{ 
					position: absolute;
                    content: '\25B6';
					right: 0;
                    font-size: 11px;
                    padding: 0 15px;
				}
                a.expanded:after {
    	               content: '\25BC';
                       font-size: 14px
                }
            }
        }
        ul ul{
            overflow:hidden;
            &.sublist{
                height: 0;
            }
        }
        ul ul li{
        	border: 0;
            overflow-x:hidden;
            margin-left: 15px;
            span {
				width: @leftColumnWidth / 2 - 48;
				padding-right: 10px;
				text-overflow: ellipsis;
				text-wrap:none;
				overflow:hidden;
				white-space: wrap;
                font-family: @primaryFont;
            	color: #e6e7e8;
            	background: none;
            	&:after {
            		content: '';
            	}
				/*
				&:hover {
					width: @leftColumnWidth / 2;
					padding-right: 0px;
					z-index: 200;
				}
				*/
            }
        }
        span{
            padding-left: 10px;
            height: 30px;
            display:inline-block;
            width: 100%;
        }
        .selected > span{
            background-color: #3A3A3C;
            color: #00A9E2;
        }
        .selected > .colorkey:before{ 
			position: absolute;
			left: 15px;
			content: '';
			padding: 2px;
			display: block;
			height:30px; 
			width: 7px; 
		}
		.colorkey:before{ 
			position: absolute;
			left: 0;
			content: '';
			display: block;
			height:30px;
			width: 7px;
		}
    }
}

#secondLevelMouseOver{
	display: none;
	position: absolute;
	/*border: 1px solid red;*/
	background-color: #00a1e4;
	z-index: 500;
	
	cursor: pointer;
	span{
		display: block;
		width: 100%;
		padding: 0px 15px;
		height: 30px;
		line-height: 30px;
		font-family: @primaryFont;
		font-size: 0.8em;
		color: #FFFFFF;
	}
	.hidden{
		display: none;
		width: auto;
		height: auto;
		margin: 0px;
		padding: 0px;
		background-color: transparent;
	}
}

#pie_hole{
	.rounded(999px);
	width: 100px;
	height: 100px;
	background: white;
}

#content{
    clear: both;
    position: absolute;
    top: 10px;
    bottom: 0;
	left: @leftColumnWidth;
	right: 0;
    padding: 0 20px;
    overflow: auto;
    p {
    	white-space: pre-wrap;
    	line-height: 18px;
	margin: 10px 0px 10px 0px;
    }
    &.fullwidth{
	left: 0;
	top: 0px;
	padding: 0 20px 20px 20px;
    }
    h1, h2, h3 {
	font-family: @primaryFontBold;
	margin-top: 20px;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 25px;
    }
}

#about{
    clear: both;
    position: absolute;
    top: 0;
	left: 0;
    margin: 2%;
    overflow: auto;
	width: 96%;
	height: 96%;
    
	#slideshow{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		
		ul#sectionTabs{
			position: absolute;
			top: 20px;
			left: 0;
			width: 100%;
			text-align: center;
			
			li{
				display: inline;
				list-style-type: none;
				padding: 0 40px;
				
				a{
					color: #606060;
					text-decoration: none;
					font-family: @primaryFontBold;
					
					&:hover, &.active{
						color: #00a1e4;
					}
					&.active{
						/*border-bottom: solid 3px #00a1e4;*/
						/*font-size: 1.2em;*/
					}
				}
			}
		}
		#slide{
			position: absolute;
			top: 50px;
			left: 5%;
			width: 90%;
			height: 85%;
			text-align: center;
			overflow: hidden;
			
			#slideImg{
				position: absolute;
				top: 5%;
				left: 10%;
				width: 90%;
				height: 60%;
				
				img{
					max-width: 100%;
					max-height: 100%;
				}
			}
			
			#slideText{
				position: absolute;
				top: 70%;
				left: 10%;
				width: 90%;
				height: 35%;
				font-size: 1em;
				
				p{
					width: 760px;
					text-align: left;
					color: #e6e7e8;
					margin: 20px auto;
				}
			}
		}
		ul#progressDots{
			position: absolute;
			bottom: 20px;
			left: 0px;
			width: 100%;
			height: 10px;
			text-align: center;
			
			li{
				display: inline-block;
				list-style-type: none;
				padding: 0;
				margin: 0 5px;
				height: 10px;
				width: 10px;
				background-repeat: no-repeat;
				background-image: url('/Resources/core/img/dot_inactive.png');
				
				&.active, &:hover{
					background-image: url('/Resources/core/img/dot_active.png');
					cursor: pointer;
				}
			}
		}
		#goLeft, #goRight{
			position: absolute;
			top: 40%;
			width: 20px;
			height: 30px;
			font-size: 3em;
			cursor: pointer;
			background-repeat: no-repeat;
			
			&.disabled{
				display: none;
			}
		}
		#goLeft{
			left: 0px;
			background-image: url('/Resources/core/img/prev_inact.png');
			&:hover{
				background-image: url('/Resources/core/img/prev_act.png');
			}
		}
		#goRight{
			right: 0px;
			background-image: url('/Resources/core/img/next_inact.png');
			&:hover{
				background-image: url('/Resources/core/img/next_act.png');
			}
		}
	}
}

.graph_tabs {
    display: block;
    width: 662px;
    margin: 12px auto 25px;
	height: 55px;
    fieldset{
        float:left;
        margin: 0 3px 0 0;
    }
    legend{
        font-family: @primaryFontBold;
        color: #58585a;
        display: block;
        float: left;
        height: 15px;
        border: 1px solid #4f4a4b;
        border-bottom: 0;
        margin: 6px 0 5px 0;
        text-align: center;
        line-height: 0;
        font-size: 0.8em;
        width: 99.5%;
        .roundedUpperLeftCorner(10px);
        .roundedUpperRightCorner(10px);
        span {
            color: #a6a6a6;
            background: #1a1a1a;
            padding: 0 5px;
        }
    }
    li:first-of-type{
        clear:both;
    }
    li{
        display: block;
        font-size: 0.85em;
        color: #666;
        background: #414042;
        text-align: center;
        padding: 5px 10px;
        margin-right: 2px;
        float: left;
        cursor: pointer;
        font-family: @primaryFont;
        &:last-of-type{margin-right: 0;}

/*
       &.super {
            width: 370px;
        }
*/
        &.display {
            color: #424242;
            background: #a7a7a7;
            &:hover {
                /*background: #e3e4e5;*/
        		color: #fff;
                background: #0099cc;
            }
        }
        &.active{
            color: #fff;
            background: #0099cc;
            cursor: pointer;
            &:hover {
                background: #0099cc;
            }
        }
    }
}

#graph_container{
    clear: both;
    margin: 0 auto;
    position: relative;
    color: #a5a8ab;
    min-height: 500px;
    min-width: @rightColumnWidth;
    padding-bottom: 10px;
    #graphs {
        min-height: 315px;
        .graph{
            height:63%;
            width: 90%;
            position: absolute;
            top: 35px;
            left: 40px;
            right: 40px;
            
        }
    }
    .container{
        //overflow: auto;
        display: inline-block;
        margin-bottom: 0;
    }
    h1#graph_title{
        text-align: center;
        font-family: @primaryFontBold;
        padding-top: 13px;
        font-size: 18px;
        color: #00abe3;
    }
    h2#graph_breakdown{
        position: absolute;
        top: 34%;
        left: -4px;
        font-family: @primaryFontBold;
        font-size: 15px;
        .transform(270deg);
    }
    h2#graph_fiscal_year{
        margin-top: 6px;
        text-align: center;
        font-family: @primaryFontBold;
        font-size: 15px;
    }
}

#graph_types{
    position: absolute;
    right: 52px;
    top: 15%;
    z-index: 20;
    li{
        display: block;
        cursor: pointer;
    }
}

/* Graph Type Icons */
@graphTypeIcons : '/Resources/core/img/graph-type-icons.png';
@graphTypeActiveIcons : '/Resources/core/img/graph-type-icons-active.png';

.active.percentage.icon, .percentage.icon:hover{ .spriteIcon(0, @graphTypeActiveIcons, 60px, 4); }
.percentage.icon{ .spriteIcon(0, @graphTypeIcons, 60px, 4); }

.active.stacked.icon, .stacked.icon:hover{ .spriteIcon(1, @graphTypeActiveIcons, 60px, 4); }
.stacked.icon{ .spriteIcon(1, @graphTypeIcons, 60px, 4); }

.active.line.icon, .line.icon:hover{ .spriteIcon(2, @graphTypeActiveIcons, 60px, 4); }
.line.icon{ .spriteIcon(2, @graphTypeIcons, 60px, 4); }

.active.pie.icon, .pie.icon:hover{ .spriteIcon(3, @graphTypeActiveIcons, 60px, 4); }
.pie.icon{ .spriteIcon(3, @graphTypeIcons, 60px, 4); }

#legend{
	position: absolute;
	bottom: 0px;
    display: none;
    white-space: normal;
    margin: 0 15px;
    padding: 0 3px;
    color: #373739;
    overflow: auto;
    /*height: 118px; changed by Arthur 2012-06-15 to get the legend away from the axis label*/
	height: 117px;
	/*text-align: center;*/
	
    li {
		text-align: left;
        display: inline-block;
        margin: 0 5px;
        line-height: 33px;
        height: 21px;
        span{
            color: #afa8ab;
            display: inline-block;
            position: relative;
            width: 125px;
            padding: 0 0 0 14px;
            text-overflow: ellipsis;
            text-wrap:none;
            overflow:hidden;
            white-space: nowrap;
            font-size: 0.9em;
            &:before{ 
        		position: absolute;
        		left: 0px;
                top: 5px;
        		content: '';
        		display: block;
        		height:24px;
        		width: 5px;
                color: blue;
            }
    	}
    }
}

#years_container {
    display: none;
    width: 510px;
    margin: 30px auto 0;
    #years_text {
        height: 12px;
        li {
            font-family: @primaryFontBold;
            font-size: 11px;
            display: inline-block;
            line-height: 12px;
            cursor: default;
            width: 102px;
            text-align: center;
        }
    }
    #years_slider {
        /*-webkit-appearance: slider-vertical;*/
        width: 410px;
        margin-left: 55px;
        display: block;
        cursor: pointer;
    }
}


#graph_container #graphs #employee_type_graph{
    left: 0;
    width: 100%;
    #employee_type_container{
        margin: 15px 25px;
        #employee_type_table_titles,
        #employee_type_table{
            width: 100%;
        }
        #employee_type_table_titles thead tr th{
            background-color: #19b3e2;
            color: #fff;
            height: 1.5em;
            line-height: 1em;
            font-size: 0.8em;
            font-weight: bold;
            vertical-align: middle;
            padding: 5px 10px 5px;
            width: 9%;
            border: 0 ;
            border-left: 2px dotted #fff;
            &:first-child{width:40%;border-left-width: 0;}
            &:last-child{border-right: 0;width: 12%}
        }
        #employee_type_table_container{
            height: 397px;
            width:100%;
            overflow:auto;
            #employee_type_table tbody tr td{
                padding: 5px 0;
                font-size: 0.8em;
                width: 9%;
				text-align: center; 
                border: 0 dotted #787878;
                border-width: 0 0 0 2px;
                &:first-child{text-align: left; width:40%;border-left-width: 0;padding: 0 10px;}
                &:last-child{width:11%;}
            }
            #employee_type_table tbody tr {
                color: #e6e7e8;
                background: url('/Resources/core/img/background_40_percent_white.png');
                &:nth-child(odd){ background: transparent; }
            }
        }
    }
}


/* Scroll Bars */
::-webkit-scrollbar{
    width: 8px;
    &:horizontal{
        height: 8px;
    }
    &-track{
        background: rgba(30,31,31,0.8);
    }
    &-thumb{
        background: rgba(166,168,171,0.8);
        -webkit-box-shadow: inset 0 0 2px #444444;
        .rounded(10px);
    }
    &-thumb:window-inactive{
        background: rgba(166,168,171,0.8); 
    }
}
