// global styles

//import base less environment
@import "../base/macros";
@import "../base/colors";
@import "../base/geometry";
@import "../base/textures";

//reset browser styling
@import "../base/reset";
@import "../base/fonts"; 

//colors
@lightBase : #edede9;
@darkBase : #605959;
@highlight : #e1567a;

@canvas : #EFEACC;
@bright : #A23607;
@brightDark : #4E2008;
@dim : #7A6A46;
@dimDark : #58585A;
@loginBlue : #007BFF;

@primaryFont: "ProximaNova";
@primaryFontBold: "ProximaNova-Bold";
@barHeight: 55px;
@rightColumnWidth: 800px;
@leftColumnWidth: 500px;


html{
    font-family: "Helvetica";
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
}

.right{
    float: right;
}

.left{
    float: left;
}

.clear{
    clear: both;   
}

body,html{height:100%;}

body{
    background-color: #e1e5e8;
    color : #818285;
    font-family: @primaryFont;
}

#protolus_root{
    margin:0 auto;
} 

#saved-metrics{
    h3{
        color: #0F0;
    }
}

.spinner{
    display: none;
    position: absolute;
    height: 50px;
    width: 50px;
    top: 34%;
    left: 47%;
    .centeredBackground('/Resources/core/img/loader.gif')
}

#content_wrapper {
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    background: #f3f3f4 url('/Resources/core/img/filter-background.png') repeat;
    border: 1px solid #d2d2d4;
    overflow: auto;
}

header{
    position: relative;
    background-color: #151517;
    width: @leftColumnWidth;
    height: @barHeight;
    img{
        margin-top: 17px;
        margin-left: 15px;
        height: 22px
    }
    span.logo_text{
        position: absolute;
        top: 17.9px;
        margin-left: 3px;
        font-size: 1.4em;
        vertical-align: middle;
        color: #989A9C;
        font-family: @primaryFont;
    }
}

#left_column{
    margin-top: 10px;
    ul h3{
            width: 250px;
	        color: #b8b9bc;
            background-color: #373936;
            padding-top: 3px;
            line-height: 2em;
            font-family: @primaryFontBold;
            text-align: center;
            font-size: 1.2em;
    }
    > ul{
        float: left;
        color: #333335;
        font-size: 0.8em;
        white-space:nowrap;
        z-index: 10;
        .panel_description{
            display: none;
            position: absolute;
            white-space: normal;
            width: 220px;
            color: #b8b9bc;
            background-color: #373936;
            line-height: 1.25em;
            padding: 0 15px 10px;
            font-size: 1em;
            z-index: 20;
        }
        > ul {
            margin-top: 30px;
        	overflow-y: scroll;
            overflow-x: hidden;
        	position: absolute;
    		top: @barHeight + 13px;
    		bottom: 0;
            vertical-align: text-top;
        }
        ul li{
            width: 242px;
            line-height: 30px;
            margin:1px 0;
            cursor:pointer;
            position: relative;
            overflow-x:hidden;
            span{
            	padding-left: 15px;
            	color: #333;
            	font-family: @primaryFontBold;
            	&.disabled{
	                color: #b8b8b8;
                    &:hover{
                        color: #333;
                        background-color: #E7E8E9;
                    }
                    a:after {
                        content: '\25B6';
                        font-size: 11px;
                    }
                    a.expanded:after {
    	                content: '\25BC';
                        font-size: 14px;
                    }
	            }
	            &.selected{
                    color: #fff;
	                background-color: #00a1e4;
                    height: 30px;
                    &.sublist{
                        height: 0;    
                    }
                    a:after {
    	                content: '\25B6';
                        font-size: 11px;
                    }
                    a.expanded:after {
    	               content: '\25BC';
                       font-size: 14px
                    }
	            }
                a:after{ 
					position: absolute;
                    content: '\25B6';
					right: 0;
                    font-size: 11px;
                    padding: 0 15px;
				}
                a.expanded:after {
    	               content: '\25BC';
                       font-size: 14px
                }
            }
        }
        ul ul{
            overflow:hidden;
            &.sublist{
                height: 0;
            }
        }
        ul ul li{
        	border: 0;
            overflow-x:hidden;
            margin-left: 15px;
            span {
                font-family: @primaryFont;
            	color: #333;
            	background: none;
            	&:after {
            		content: '';
            	}
            }
        }
        span{
            padding-left: 10px;
            height: 30px;
            display:inline-block;
            width: 100%;
        }
        .selected > span{
            background-color: #3A3A3C;
            color: #00A9E2;
        }
        .selected > .colorkey:before{ 
			position: absolute;
			left: 15px;
			content: '';
			padding: 2px;
			display: block;
			height:30px; 
			width: 7px; 
		}
		.colorkey:before{ 
			position: absolute;
			left: 0;
			content: '';
			display: block;
			height:30px;
			width: 7px;
		}
    }
}

#content{
    clear: both;
    position: absolute;
    top: 0;
    bottom: 0;
	left: 500px;
	right: 0;
    padding: 0 20px;
    overflow: auto;
    p {
    	white-space: pre-wrap;
    	line-height: 18px;
    }
}

.graph_tabs {
    display: block;
    margin: 20px auto;
    width: @rightColumnWidth; 
    li{
        display: none;
        width: 170px;
        font-size: 0.9em;
        color: #a3a3a5;
        background: #373936;
        text-align: center;
        padding: 10px 15px;
        margin: 0;
        float: left;
        cursor: pointer;
        &.display {
            display: block;
        }
        &.active{
            color: #fff;
            background: #919296;
        }
    }
}

#graph_container{
    clear: both;
    position: relative;
    height:600px;
    width: @rightColumnWidth; 
    background-color: #fff;
    margin: 70px auto 0;
    border: 1px solid #ccc;
    border-width: 1px 0 0 1px;
    .shadowed(2px, 0.2);
    .rounded(10px);
    .graph{
        height:400px;
        width: @rightColumnWidth - 200px;
        position: absolute;
        top: 60px;
        left: 70px;
    }
    .container{
        //overflow: auto;
        display: inline-block;
        margin-bottom: 0;
    }
    h1#graph_title{
        text-align: center;
        font-family: @primaryFontBold;
        margin-top: 22px;
        font-size: 18px;
        color: #00abe3;
        text-indent: -30px;
    }
    h2#graph_breakdown{
        position: absolute;
        top: 40%;
        left: 0;
        font-family: @primaryFontBold;
        font-size: 15px;
        .transform(270deg);
    }
    h2#graph_fiscal_year{
        position: absolute;
        top: 475px;
        left: 45%;
        font-family: @primaryFontBold;
        font-size: 15px;
    }
}

#graph_types{
    position: absolute;
    right: 55px;
    top: 20%;
    z-index: 20;
    li{
        display: block;
        margin-bottom: 20px;
        cursor: pointer;
    }
}

/* Graph Type Icons */
@graphTypeIcons : '/Resources/core/img/graph-type-icons.png';
@graphTypeActiveIcons : '/Resources/core/img/graph-type-icons-active.png';

.active.percentage.icon{ .spriteIcon(0, @graphTypeActiveIcons, 40px, 4); }
.percentage.icon{ .spriteIcon(0, @graphTypeIcons, 40px, 4); }

.active.stacked.icon{ .spriteIcon(1, @graphTypeActiveIcons, 40px, 4); }
.stacked.icon{ .spriteIcon(1, @graphTypeIcons, 40px, 4); }

.active.line.icon{ .spriteIcon(2, @graphTypeActiveIcons, 40px, 4); }
.line.icon{ .spriteIcon(2, @graphTypeIcons, 40px, 4); }

.active.pie.icon{ .spriteIcon(3, @graphTypeActiveIcons, 40px, 4); }
.pie.icon{ .spriteIcon(3, @graphTypeIcons, 40px, 4); }

#legend{
    position: absolute;
    bottom: 10px;
    display: none;
    white-space: normal;
    height: 90px;
    width: @rightColumnWidth - 120px;
    margin: 0 55px;
    padding: 5px 5px 3px;
   	line-height:30px;
    color: #373739;
    overflow: auto;
    li {
        display: inline-block;
        margin: 0 8px;
        span{
            display: inline-block;
            position: relative;
            width: 137px;
            padding: 0 0 0 14px;
            text-overflow: ellipsis;
            text-wrap:none;
            overflow:hidden;
            white-space: nowrap;
            font-size: 0.9em;
            &:before{ 
        		position: absolute;
        		left: 0px;
                top: 8px;
        		content: '';
        		display: block;
        		height:11px;
        		width: 10px;
                color: blue;
            }
    	}
    }
}

#years_container {
    display: none;
    position: absolute;
    left: 40px;
    bottom: 135px;
    width: @rightColumnWidth - 100;
    #years_text {
        width: @rightColumnWidth - 95;
        height: 12px;
        li {
            font-family: @primaryFontBold;
            font-size: 11px;
            display: inline-block;
            line-height: 12px;
            cursor: default;
            width: 140px;
            text-align: center;
        }
    }
    #years_slider {
        /*-webkit-appearance: slider-vertical;*/
        width: @rightColumnWidth - 235px;
        margin-left: 70px;
        display: block;
        cursor: pointer;
    }
}

.slider{
    background-color : #E7E7E8;
    .rounded(4px);
    .knob{
        background-color : #00A9E2;
        .rounded(4px);
        position: absolute;
        cursor: pointer;
    }
}


/* Scroll Bars */
::-webkit-scrollbar{
    width: 8px;
    &:horizontal{
        height: 8px;
    }
    &-track{
        background: rgba(100,100,100,0.8);
        -webkit-box-shadow: inset 0 0 2px #888888;
    }
    &-thumb{
        background: rgba(230,230,230,0.8);
        -webkit-box-shadow: inset 0 0 2px #444444;
    }
    &-thumb:window-inactive{
        background: rgba(230,230,230,0.2); 
    }
}